$siteWidth: 1171px;
$mainColor: #FF8126;
$mobileWidth: 786px;
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
@mixin heading {
    &__heading{
        font-family: 'Cormorant';
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #1F1F1F;
    &_orange{
        color: $mainColor;
    }
    }
}
@mixin navLinkStyle{
    font-family: 'lato', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #1F1F1F;
}
.fa-bars{
    color: $mainColor;
}