@import'_variables';
@import'scssBlocks/surpriceStyle';
.myWrap{
    max-width: $siteWidth;
    margin: auto;
    padding: 0 15px;

}
.topLine{
    background-color: #C2E8CE;
    display: flex;
    &__text{
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #1F1F1F;
    }
}
.invisible{
    display: none;
}
.headerWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.mainNavList{
    display: flex;
    list-style-type: none;
    flex-grow: 1;
    @media (max-width: 1100px) {
        display: none;
    }
}
.mainNavItem{
    
    &__link{
    font-family: 'lato', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #1F1F1F;
   }
   &__link1{
    margin-left: 63px;
    margin-right: 63px;
   }
   &__link2{
    margin-right: 12px;
   }
   &__svg{
    margin-right: 39px;
   }
   &__link3{
    margin-right: 95px;
   }
   &__link4{
    margin-right: 71px;
}
}

.navWrap{
    border: 1px solid #BFBFBF;
    border-radius: 100%;
    padding: 14px;
    display: flex;
    position: relative;
}
.nav{
    display: flex;
    gap: 10px;
}
.cartQuantity{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    width: 12px;
    height: 16px;
    display: flex;
    justify-content: center;
    padding: 2px;
    background-color: $mainColor;
    color: antiquewhite;
}

.burger{
    display: none;
    @media (max-width: 1100px) {
        display: block;
    }
}
.burgerList{
    display: grid;
    grid-template-columns: (repeat(auto-fit, minmax(150px, 1fr)));
    @media (max-width: $mobileWidth) {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
.bannerWrap{
    height: 500px;
    padding-top: 121px;
}
.banner{
    height: 500px;
    background-image: url(/img/banner.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    &__heading{
        font-family: 'Cormorant';
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        color: #1F1F1F;
        margin: 0;
    }
    &__text{
        font-family: 'Poppins';
        font-weight: 300;
        font-size: 26px;
        line-height: 39px;
        color: #1F1F1F;
        margin: 5px 0 38px 0;
    }
    &__btn{
        background: $mainColor;
        border: none;
        padding: 12px 40px;
        border-radius: 10px;
            text-decoration: none;
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #FFFFFF;
        
    }
}

.latestOffersWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
}
.latestOffers{
    padding-top: 80px;
    @include heading
  
}
.cardBox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
}
.cardContent{
    padding: 15px 0;
    text-align: center;
}

.cardItem{
    background: #F7F5F0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    &__img{
        width: 100%;
    }
    &__title{
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 5px;
    }
    &__price{
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $mainColor;
        margin-bottom: 12px;
        &_old{
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            text-decoration-line: line-through;
            color: #656565;
        }
    }
    &__btn{
        padding: 8px 63px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
        background-color: $mainColor;
        border: none;
        border-radius: 10px;
        margin: auto;
    }

}

.whyChoose{
    padding-top: 94px;
    @include heading;
    &__heading{
        margin-bottom: 12px;
    }
}
.whyChooseWrap{
    display: flex;
    justify-content: center;
}
.whyChooseList{
    padding-top: 30px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 30px;
    list-style-type: none;

}
.whyChooseItem{
    &__svg{
        margin-bottom: 17px;
    }
    &__title{
        display: flex;
        flex-direction: column;
        height: 72px;
        font-family: 'Lato';
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #1F1F1F;
    }
    &__text{
        max-width: 209px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #1F1F1F;
    }
}
.whoMakes{
    margin-bottom: 550px;
}
.whoMakesWrap{
    padding-top: 51px;
    display: flex;
    justify-content: space-between;

}
.whoMakesContent{
        @include heading;
        &__heading{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 7px;
            &_orange{
                margin-left: 10px;
            }
        }
        &__title{
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #1F1F1F;
            margin-bottom: 35px;
    }
}
.whoMakesItem{
    display: flex;
    margin-bottom: 19px;
    &__imgWrap{
        background-color: $mainColor;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
    }
    &__img{
   
    }
    &__text{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #1F1F1F;
        max-width: 520px;
    }
}
.whoMakesItem:last-child{
    margin-bottom: 29px;
}
.whoMakes__btn{
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
        background-color: $mainColor;
        border: none;
        border-radius: 5px;
        padding: 9px 32px;
}



.onInstagramm{
    padding: 76px;
}
.onInstagrammTop{
    @include heading;
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}
.onInstagrammSlider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__arrow{
        outline: 1px solid #B2B2B3;
        border-radius: 100%;
        padding: 14px;
        outline-color: #B2B2B2;
       
    }
}
.onInstagrammSlider__arrow:hover{
    background-color: $mainColor;
    color: #FFFFFF;
    outline: none;
}  
.onInstagrammSlids{
    flex-grow: 1;
    padding: 0px 23px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.slideItem{
    padding: 14px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.social{
    padding: 60px 0;
    display: flex;
    background: url(/img/socialBackGround.png);
    background-color: lighten($mainColor, 35%);
    &__list{
        display: flex;
        gap: 30px;
    }
    &__heading{
        font-family: 'Cormorant';
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #1F1F1F;
        margin-bottom: 32px;
    }
}

.socialItem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: $mainColor;
    color: wheat;
}

.footerWrap{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 0;
}

.footerContent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
        
}
.footerlogo{
    margin-right: 81px;
}
.footerCategory{
    &__title{
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #1F1F1F;
        margin-bottom: 15px;
    }
    &__list{
        list-style-type: none;

    }
    &__item{
        margin-bottom: 11px;
        
    }
    &__link{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #3D3D3D;
    }
    &:first-child{
        margin-right: 85px;

    }
    &:nth-child(2){
        margin-right: 88px;
    }
    &:nth-child(3){
        margin-right: 139px;
    }
    &:nth-child(4){
        margin-right: 85px;
    }
}




